{% extends "base.html" %}
{% block title %}Repository {{name}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        
    </style>
{% endblock %}
{% block content %}
    <div class="w3-container">
        <h1>Repository {{name}}</h1>
        <div class="w3-teal w3-padding">
            <div class="w3-row-padding">
                <div class="w3-col m4">Root: {{repository.root}}</div>
                <div class="w3-col m2">Last Revision: {{commit.revision}}</div>
                <div class="w3-col m2"><a href="/repo/{{repo_id}}/logs">Logs</a></div>
                <div class="w3-col m3">Revision Author: {{commit.author}}</div>
                <div class="w3-col m1">
                    <a class="w3-large" href="/update/{{repo_id}}">&#8635;</a>
                </div>
            </div>
        </div>
        {# This should be refactored for deduplication #}
        <ul class="w3-ul">
            {% for f in status.target.entry %}
            {% if f['wc-status'].item == 'modified' %}
                {% set v_marker = 'M' %}
                {% set v_status = 'true' %}
            {% elif f['wc-status'].item == 'added' %}
                {% set v_marker = 'A' %}
                {% set v_status = 'true' %}
            {% elif f['wc-status'].item == 'unversioned' %}
                {% set v_marker = '?' %}
                {% set v_status = 'false' %}
            {% endif %}
                <li class="w3-padding-small draggable-row">
                    {% if v_status == 'true' and cl_names %}
                        <img src="/static/images/drag.svg" width="24" height="24" alt="drag icon" class="draggable-icon">
                    {% else %}
                        <div style="width: 24px; height: 24px; display: inline-block"></div>
                    {% endif %}
                    <input 
                        type="checkbox" 
                        class="w3-check path-check" 
                        name="cb-" 
                        id="" 
                        data-path="{{f.path|urlencode|replace('/', '%2F')}}"
                        data-versioned="{{ v_status }}"
                        autocomplete="off"
                    >
                    {{ f.path }}
                    <span class="w3-round w3-teal w3-padding-small">{{ v_marker }}</span>
                    <button data-state="closed" data-repo="{{repo_id}}" data-path="{{f.path|urlencode|replace('/', '%2F')}}" class="diff-button w3-button w3-circle">&#9660;</button>
                    <div class="diff-block hidden-diff w3-hide"></div>
                </li>
            {% endfor %}
        </ul>
        {% for cl in status.changelist %}
            <h2 class="cl-name">{{cl.name}}</h2>
            <ul class="w3-ul">
                {% for f in cl.entry %}
                    {% if f['wc-status'].item == 'modified' %}
                        {% set v_marker = 'M' %}
                        {% set v_status = 'true' %}
                    {% elif f['wc-status'].item == 'added' %}
                        {% set v_marker = 'A' %}
                        {% set v_status = 'true' %}
                    {% elif f['wc-status'].item == 'unversioned' %}
                        {% set v_marker = '?' %}
                        {% set v_status = 'false' %}
                    {% endif %}
                    <li class="w3-padding-small draggable-row" data-changelist="{{cl.name}}" draggable="true">
                        {% if v_status == 'true' and cl_names %}
                            <img src="/static/images/drag.svg" width="24" height="24" alt="drag icon" class="draggable-icon" draggable="false">
                        {% else %}
                            <div style="width: 24px; height: 24px; display: inline-block;"></div>
                        {% endif %}
                        <input 
                            type="checkbox" 
                            class="w3-check path-check" 
                            name="cb-" 
                            id="" 
                            data-path="{{f.path|urlencode|replace('/', '%2F')}}"
                            data-versioned="{{v_status}}"
                            data-changelist="{{cl.name}}"
                            data-repo="{{repo_id}}"
                            autocomplete="off"
                        >
                        {{f.path}}
                        <span class="w3-round w3-teal w3-padding-small">{{ v_marker }}</span>
                        <button data-state="closed" data-repo="{{repo_id}}" data-path="{{f.path|urlencode|replace('/', '%2F')}}" class="diff-button w3-button w3-circle">&#9660;</button>
                        <div class="diff-block hidden-diff w3-hide"></div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        
        </div>
    </div>
{% endblock %}